<h3>Create Patient</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="patient.name" name="name">
    </div>

    <div class="form-group">
      <label for="birthDate">BirthDate</label>
      <input type="date" class="form-control" id="birthDate" required [(ngModel)]="patient.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="patient.username" name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="patient.password" name="password">
    </div>

    <div class="form-group">
      <label for="medicalRecord">Medical Record</label>
      <input type="text" class="form-control" id="medicalRecord" required [(ngModel)]="patient.medicalRecord" name="medicalRecord">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" required [(ngModel)]="patient.gender" name="gender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
    </div>

    <div class="form-group">
      <label for="caregiverId">Caregiver Id</label>
      <input type="text" class="form-control" id="caregiverId" required [(ngModel)]="patient.caregiverId" name="caregiverId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button (click)="gotoList()" style="margin-left: 10px" class="btn btn-primary">Back to Doctor Home</button><br>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
