<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Patient List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>Address</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Medical Record</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patien of patient | async">
        <td>{{patien.name}}</td>
        <td>{{patien.username}}</td>
        <td>{{patien.birthDate | date:'dd/MM/yyyy'}}</td>
        <td>{{patien.address}}</td>
        <td>{{patien.gender}}</td>
        <td>{{patien.medicalRecord}}</td>
        <td><button (click)="deletePatient(patien.id)" class="btn btn-danger">Delete</button>
          <button (click)="updatePatient(patien.id, patien)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="patientDetails(patien.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="back()" class="btn btn-primary">Back to Doctor Home</button><br>
  </div>
</div>
